body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 12px 12px 15px #f7f7f7;
    width: 350px;
    height: 300px;
}

.container h1 {
   color: blue;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 36px;
}

input{
    padding: 5px;
}

button{
    padding: 8px;
    background-color: blue;
    border-radius: 4px;
    color: #ffffff;
    font-size: 11px;
    border: none;
}
#qrcode {
    margin: 20px auto;
}

#question-container {
    margin-top: 10px;
}

#message {
    margin-top: 20px;
    font-weight: bold;
    color: #d9534f;
}
